name: Deploy to Gitee Pages

on:
  push:
    branches: ['main', 'master']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Deploy to Gitee Pages
        uses: yanglbme/gitee-pages-action@main
        with:
          # Gitee 用户名
          gitee-username: ${{ github.repository_owner }}
          # Gitee 私人令牌
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          # Gitee 仓库名
          gitee-repo: ${{ github.repository }}
          # 要部署的分支
          branch: gh-pages
          # 要部署的目录
          directory: ./dist
          # 是否强制推送
          force-push: true
